@media (max-width: 1920px) {
    .bg-menu {
        background: url("../images/bg-menu.png") center center no-repeat;
        background-size: auto 750%;
    }
}

@media (max-width: 576px) {
    .bg-menu {
        background: url("../images/bg-menu.png") center center no-repeat;
        background-size: auto 300%;
    }

    .hero {
        height: 160px
    }

    .big-card {
        height: 220px
    }

    .side-card {
        height: 220px
    }

    .member-card {
        height: 300px;
        margin-bottom: 20px;
    }

    .video-box {
        height: 140px
    }

    .logo {
        width: 56px;
        height: 56px
    }

    .logo img{
        width: 56px;
        height: 56px;
    }
}