:root {
    --navy-1: #07173a;
    --navy-2: #0f2b5a;
    --card: #e7e7e7
}

body {
    font-family: Montserrat, system-ui, -apple-system, Segoe UI, Roboto, 'Helvetica Neue', Arial;
    background: linear-gradient(180deg, var(--navy-1), var(--navy-2));
    color: #e7e7e7
}

.bg-menu {
    background: url("../images/bg-menu.png") center center no-repeat;
    background-size: auto 700%;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, #d33, #a00);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700
}

.logo img{
    width: 80px;
    height: 80px;
}

.text-white {
    color: white;
}

.text-justify {
    text-align: justify;
}

.hero {
    height: 260px;
    border-radius: 18px;
    display: inline-block;
    min-height: 1em;
    vertical-align: middle;
    background-color: currentcolor;
    opacity: .5;
}

.big-card {
    height: 320px;
    border-radius: 18px;
    display: inline-block;
    min-height: 1em;
    vertical-align: middle;
    background-color: currentcolor;
    opacity: .5;
}

.side-card {
    height: 320px;
    width: 100%;
    border-radius: 18px;
    display: inline-block;
    min-height: 1em;
    vertical-align: middle;
    background-color: currentcolor;
    opacity: .5;
}

.member-card {
    height: 500px;
    width: 100%;
    border-radius: 18px;
    display: inline-block;
    min-height: 1em;
    vertical-align: middle;
    background-color: currentcolor;
    opacity: .5;
}

.video-box {
    height: 180px;
    border-radius: 18px;
    display: inline-block;
    min-height: 1em;
    vertical-align: middle;
    background-color: currentcolor;
    opacity: .5;
}

.store-box {
    height: 140px;
    border-radius: 18px;
    display: inline-block;
    min-height: 1em;
    vertical-align: middle;
    background-color: currentcolor;
    opacity: .5;
}

.hero {
    width: 100%;
    min-height: 360px;
    background: #fff;
}

.big-card {
    width: 100%;
}

/* small tweaks to match Figma look */
.section-title {
    letter-spacing: 2px
}

footer small {
    color: #c9d0da
}

